<!-- Footer -->
<footer class="page-footer font-small  bg-secondary navbar-fixed-bottom">

        <!-- Footer Elements -->
        <div class="container">
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: 0 15%;">
    
            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
    
                <!-- Grid column -->
                <div class="col-md-8 col-12">
                        <a class="text-white"> Última conexión: {{ FechaAcceso }}</a>
                    <p style="line-height: 1.7rem">Quejas, reportes, consultas, apoyo... a <strong>jason.gutierrez.dev@gmail.com</strong>.</p>
                </div>
                <!-- Grid column -->
    
            </div>
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center">© {{Year}} Copyright:
            <a> JasonDeveloper.com</a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->